.column {
	display: flex;
	width: 50%;
	flex-direction: column;
}

.preview {
	display: block;
	width: 50%;
	margin: 0;
	word-wrap: break-word;
	white-space: pre-wrap;
    text-align: left;
}

.test {
	width: 200px;
	height: 200px;
	background: indigo;
}
